<h2>Acerca de mi</h2>
<p>Estudio Ingenieria en Inform&aacute;tica en la Universidad de Buenos Aires. Adem&aacute;s, soy un desarrollador de software, que se divierte haciendo su trabajo. Usuario de ArchLinux y SailfishOS. Y en mis tiempos libres, músico, tecladista adepto al Jazz y Funk.</p>

<h2>&Uacute;ltimos proyectos</h2>
<ul>
  <li><a href="http://nckweb.com.ar/sailing-codes">Sailing Codes</a></li>
  <li>P&acute;ginas est&acute;: <a href="https://github.com/NickCis/bularcama">bularcama</a></li>
  <li>Whats App en c++: <a href="https://github.com/NickCis/whats-acppi">whats acppi</a></li>
</ul>

<p>Para mas informaci&oacute;n o contacto dejame un mensaje en cualquier red social.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/nickcis/">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/nickcis.net">@nickcis</a>
  </li>
</ul>
