<h2>Acerca de mi</h2>
<p>Estudio Ingenieria en Inform&aacute;tica en la Universidad de Buenos Aires. Adem&aacute;s, soy un desarrollador de software, que se divierte haciendo su trabajo. Usuario de ArchLinux y SailfishOS. Y en mis tiempos libres, músico, tecladista adepto al Jazz. y Funk.</p>

<h2>&Uacute;ltimos proyectos</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<p>Para mas informaci&oacute;n, incluyendo links a repositorios, , bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/nickcis/">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/nickcis.net">@nickcis</a>
  </li>
</ul>
